.home {
margin-top:  20px;
display: flex;
justify-content: center;
align-items: center;

}

.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  z-index: 1;
}

.featuredItem {
  position: relative;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  width: calc(25% - 10px); /* Set the width for each item (25% for 4 items in a row with 10px gap) */
  margin-bottom: 20px;
  margin-top: 20px /* Adjust the margin to create space between rows */
}

.featuredImg {
  width: 100%;
  object-fit: cover;
}

.featuredTitles {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.img:hover {
  transform: scale(1.5);
}

.img {
  transition: all 0.2s ease-in-out;
}



@media screen and (max-width: 768px) {
  .featuredItem {
    width: calc(50% - 10px); /* Two items in a row for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .featuredItem {
    width: 100%; /* Full width for smaller screens, one item per row */
  }
}