/* General styles */
.navbar {
  padding: 20px;
  background-color: rgba(245, 242, 232);
  color: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 800;
  font-family: 'Newsreader', serif;

}

.navbar nav {
  display: flex;
  justify-content: space-between;
  gap: 475px; /* Adjust the gap between elements */
}

/* New CSS for the text and button wrappers */
.navbarText {
  flex: 1; /* Allow the text to take available space */
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .navbar {
    font-size: 30px; /* Adjust font size for smaller screens */
    padding: 15px; /* Adjust padding */
  }

  .navbar nav {
    gap: 20px; /* Adjust the gap between elements */
  }
}
